//
// Created by Jeremy Cote on 2023-09-20.
//

#ifndef UOSM_TELEMETRY_SECRETS_H
#define UOSM_TELEMETRY_SECRETS_H

// Make sure to copy this file as Secrets.h when compiling the project

// Define this to declare that secrets exist.
#define UOSM_SECRETS

// Device ID in Arduino IOT
const char DEVICE_LOGIN_NAME[]  = "Device-ID";

// Device Secret in Arduino IOT
// Not needed with Portenta
const char DEVICE_KEY[]         = "Device-Secret";    // Secret device password

// Wifi SSID
const char SSID[]               = "Wifi-SSID";    // Network SSID (name)

// Wifi Password
const char PASS[]               = "Wifi-Password";    // Network password (use for WPA, or use as key for WEP)


#endif //UOSM_TELEMETRY_SECRETS_EXAMPLE_H
